#navbar-fixed{
    Position:fixed; 
    Top:0;
    left: 0;
    margin-bottom: 25px;
    background-color: floralwhite;
    list-style-type: none;
    font-family: "Lucida Console", Monaco, monospace;
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
		}
#list{
    list-style-type: none;
    margin: 0 auto;
    padding:10px;
    width: 960px;
    border: 0px;
    margin: 0px;
    font-family: Helvetica, sans-serif;
}

#l1 {display: inline}
#l2 {display: inline}
#l3 {display: inline}

#container{
    width:960px;
    margin: 0 auto;
    font-size: 100%;
}

#everything{
    background-color: azure;
}

#spacer{
    margin: 100px;
}

#body{
   width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif; 
}
#yo{
    font-family:"Lucida Console", Monaco, monospace;
}
#content_left{
    width:72%;
    float:left;
    padding-right: 8%;
}

#content_right{
    width:17%;
    float: right;
    border: 3px;
    border-color: darkseagreen;
    border-width: medium;
        
}

#caption {
    text-align: center;
    align-content: center;
    font-size: 85%;
}

table, th, td{
    border: 1px;
    border-color: darkseagreen;
}


#pic{
    width:54%;
    height:auto;
    margin-left: auto;
    margin-right:auto;
    display: block;
}

#table{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 75%;
}

th{
    width:25%
}